<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New message</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css" />
  </head>
  <body>
    <div class="container py-5">
      <form method="POST" action="/new">
        <div class="mb-3">
          <label for="userName" class="form-label">Name</label>
          <input
            type="text"
            class="form-control"
            id="userName"
            name="userName"
          />
        </div>
        <div class="mb-3">
          <label for="userMessage" class="form-label">Message</label>
          <input
            type="text"
            class="form-control"
            id="userMessage"
            name="userMessage"
          />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </body>
</html>
